{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/css/index.css' %}">
    <title>ThreaderScan</title>
</head>
<body>
    <header class="top-area">
        <div class="header-area">
            <nav class="navbar navbar-default bootsnav navbar-fixed dark no-background">
                <div class="header-container">
                    <div id="navbar-menu">
                        <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                            <li class=" smooth-menu"><a href="{% url 'app:index' %}">Home</a></li>
                            <!-- <li class="smooth-menu"><a href="{% url 'app:port_scan' %}">Scan Results</a></li> -->
                            <!-- <li class="smooth-menu"><a href="{% url 'app:run_nmap_scan' %}">Nmap Results</a></li> -->
                            <li class="smooth-menu"><a href="{% url 'app:help' %}">Help</a></li>
                        </ul><!--/.nav -->
                    </div><!-- /.navbar-collapse -->
                </div><!--/.header-container-->
            </nav><!--/nav-->
            <!-- End Navigation -->
        </div><!--/.header-area-->
    </header><!-- /.top-area-->
    
    <div class="containers">
        <!-- Loading animation -->
        <div class="loader"></div>

        <!-- Content -->
        <div class="container">
            <div class="text">
                Welcome to ThreaderScan
            </div>
            <form id="portScanForm" action="{% url 'app:port_scan' %}" method="post">
                {% csrf_token %}
                <!-- Form fields -->
                <div class="form-row">
                    <div class="input-data">
                        <input type="text" id="targetRange" name="target_range" required>
                        <div class="underline"></div>
                        <label for="targetRange">Target IP Range (CIDR format, e.g., 192.168.0.0/24)</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="input-data">
                        <input type="text" id="startPort" name="start_port" required>
                        <div class="underline"></div>
                        <label for="startPort">Start Port</label>
                    </div>
                    <div class="input-data">
                        <input type="text" id="endPort" name="end_port" required>
                        <div class="underline"></div>
                        <label for="endPort">End Port</label>
                    </div>
                </div>

                <!-- <div class="form-row"> -->
                    <div class="underline"></div>
                    <div class="form-row submit-btn">
                        <div class="input-data">
                            <div class="inner"></div>
                            <input type="submit" value="Start Scan">
                        </div>
                    </div>
                <!-- </div> -->
            </form>
        </div>
        <!-- JavaScript for showing/hiding loader -->
        <script src="{% static 'app/js/loader.js' %}"></script>
        <!-- <script>
            // Function to show loader animation
            function showLoader() {
                document.querySelector('.loader').style.display = 'block'; // Display the loader
                document.querySelector('.container').style.display = 'none'; // Hide the content
            }

            // Function to hide loader animation
            function hideLoader() {
                document.querySelector('.loader').style.display = 'none'; // Hide the loader
                document.querySelector('.container').style.display = 'block'; // Display the content
            }

            // Show loader initially
            showLoader();

            // Simulate loading delay (2 seconds) and then hide loader
            setTimeout(hideLoader, 2000); // Adjust delay time as needed (in milliseconds)

        </script>
    </div> -->
</body>

</html>
