/* index.html styles */
body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

form {
    margin-top: 20px;
}

input[type="text"],
input[type="number"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 320px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 180px;
}

button:hover {
    background-color: #0056b3;
}

        /* CSS styles for loading animation */
.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    /* Hide loader initially */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.content {
    display: none;
    border:#007bff solid 20px;
    
    /* Hide content initially */
}

.container{
    /* margin-left: 20px; */
    background-color: #3498db;
    border: #007bff solid 20px;
}